{% extends 'base.html' %}
{% block content %} 
{% load humanize %}

<aside class="aside aside-fixed">
    <div class="aside-header">
      <a href="#" class="aside-logo">adidas <span> sales</span></a>
      <a href="" class="aside-menu-link">
        <i data-feather="menu"></i>
        <i data-feather="x"></i>
      </a>
    </div>
    <div class="aside-body">

      <ul class="nav nav-aside">
        <li class="nav-label">Dashboard</li>
        <li class="nav-item active"><a href="#sales-performance" class="nav-link"><i data-feather="shopping-bag"></i> <span>Sales Performance</span></a></li>
        <li class="nav-item"><a href="#product-analysis" class="nav-link"><i data-feather="box"></i> <span>Product Analysis</span></a></li>
        <li class="nav-item"><a href="#geographical-analysis" class="nav-link"><i data-feather="globe"></i> <span>Geographical Analysis</span></a></li>
        <li class="nav-item"><a href="#trends-over-time" class="nav-link"><i data-feather="trending-up"></i> <span>Trends Over Time</span></a></li>
  
      </ul>
    </div>
  </aside>

  <div class="content ht-100v pd-0">
    <div class="content-header">
      <div class="content-search">
        <i data-feather="search"></i>
        <input type="search" class="form-control" placeholder="Search...">
      </div>
      <nav class="nav">
        <a href="" class="nav-link"><i data-feather="help-circle"></i></a>
        <a href="" class="nav-link"><i data-feather="grid"></i></a>
        <a href="" class="nav-link"><i data-feather="align-left"></i></a>
      </nav>
    </div><!-- content-header -->

    <div class="content-body">
      <div class="container pd-x-0">
        <div id="sales-performance" class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
          <div>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Sales Monitoring</li>
              </ol>
            </nav>
            <h4 class="mg-b-0 tx-spacing--1">Sales Performance</h4>
          </div>
          <div class="d-none d-md-block">
            <button class="btn btn-sm pd-x-15 btn-white btn-uppercase"><i data-feather="mail" class="wd-10 mg-r-5"></i> Email</button>
            <button class="btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5"><i data-feather="printer" class="wd-10 mg-r-5"></i> Print</button>
            <button class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5"><i data-feather="file" class="wd-10 mg-r-5"></i> Generate Report</button>
          </div>
        </div>

        <div class="row row-xs">
          <div class="col-sm-6 col-lg-3">
            <div class="card card-body">
              <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Total Sales Revenue</h6>
              <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">${{ total_sales_revenue|intcomma }}</h3>
                <p class="tx-11 tx-color-03 mg-b-0"><span class="tx-medium tx-success d-flex align-items-end">1.2% <ion-icon name="arrow-up-outline" class="mb-1"></ion-icon></span></p>
              </div>
              <div class="chart-three">
                  <div id="flotChart3" class="flot-chart ht-30"></div>
                </div><!-- chart-three -->
            </div>
          </div><!-- col -->
          <div class="col-sm-6 col-lg-3 mg-t-10 mg-sm-t-0">
            <div class="card card-body">
              <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Total units sold</h6>
              <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">{{ total_units_sold|intcomma }}</h3>
                <p class="tx-11 tx-color-03 mg-b-0"><span class="tx-medium tx-danger d-flex align-items-end">0.7% <ion-icon name="arrow-dowb-outline" class="mb-1"></ion-icon></span></p>
              </div>
              <div class="chart-three">
                  <div id="flotChart4" class="flot-chart ht-30"></div>
                </div><!-- chart-three -->
            </div>
          </div><!-- col -->
          <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
            <div class="card card-body">
              <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Avg. Operating Profit</h6>
              <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">${{ average_operating_profit|floatformat:2|intcomma }}</h3>
                <p class="tx-11 tx-color-03 mg-b-0"><span class="tx-medium tx-danger d-flex align-items-end">0.3% <ion-icon name="arrow-up-outline" class="mb-1"></ion-icon></span></p>
              </div>
              <div class="chart-three">
                  <div id="flotChart5" class="flot-chart ht-30"></div>
                </div><!-- chart-three -->
            </div>
          </div><!-- col -->
          <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
            <div class="card card-body">
              <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Best Selling Product</h6>
              <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">{{ best_selling_product }}</h3>
                <p class="tx-11 tx-color-03 mg-b-0"><span class="tx-medium tx-success d-flex align-items-end">2.1% <ion-icon name="arrow-up-outline" class="mb-1"></ion-icon></span></p>
              </div>

            </div>
          </div><!-- col -->

          <!-- Retailers bar chart -->
          <div class="col-xl-9 mg-t-10">
            <div class="card">
              <div class="card-header bd-b-0 pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
                <div>
                  <h6 class="mg-b-5">Retailer Analysis</h6>
                  <p class="tx-12 tx-color-03 mg-b-0">The graphs of the total sales and operating profit by retailer.</p>
                </div>
                <div class="btn-group mg-t-20 mg-sm-t-0">
                  <button class="btn btn-xs btn-white btn-uppercase">Month</button>
                  <button class="btn btn-xs btn-white btn-uppercase">Year</button>
                  <button class="btn btn-xs btn-white btn-uppercase active">All time</button>
                </div><!-- btn-group -->
              </div><!-- card-header -->
              <div class="card-body pd-lg-25">
                <div class="row align-items-start">
                  <div class="col-xl-8">
                    <div class="chart-six"><canvas id="retailersBar" data-retailers="{{ retailers|safe }}" data-sales="{{ sales_data|safe }}"></canvas></div>
                  </div>
                  {% for retailer_group in chunked_profits_data %}
                  <div class="col-xl-2 mg-t-30 mg-lg-t-0">
                    <div class="row">
                        
                      {% for retailer in retailer_group %}
                      <div class="col-sm-6 col-lg-12 mg-b-30">
                        <div class="d-flex align-items-center justify-content-between mg-b-5">
                          <h6 class="tx-uppercase tx-10 tx-spacing-1 tx-color-02 tx-semibold mg-b-0">{{ retailer.retailer }}</h6>
                          <!-- <span class="tx-10 tx-color-04">85% goal reached</span> -->
                        </div>
                        <div class="d-flex justify-content-between mg-b-5">
                          <h5 class="tx-normal tx-rubik mg-b-0">${{ retailer.total_profit|intcomma }}</h5>
                          <!-- <h5 class="tx-normal tx-rubik tx-color-03 mg-b-0"><small>USD</small></h5> -->
                        </div>
                        <div class="progress ht-4 mg-b-0 op-5">
                          <div class="progress-bar bg-primary wd-100p" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      {% endfor %}
                    </div><!-- row -->
                </div> <!-- col -->
                {% endfor %}

                </div>
              </div><!-- card-body -->
            </div><!-- card -->
          </div>

          <!-- Distribution by sales method -->
          <div class="col-md-6 col-lg-4 col-xl-3 mg-t-10">
            <div class="card">
              <div class="card-header">
                <h6 class="mg-b-0">Distribution by sales method</h6>
              </div><!-- card-header -->
              <div class="card-body pd-lg-25">
                <div class="chart-seven"><canvas id="salesDistribution"></canvas></div>
              </div><!-- card-body -->
              <div class="card-footer pd-20">
                <div class="row">

                {% for sale in sales_distribution %}
                  <div class="col-6 mg-b-20">
                    <p class="tx-10 tx-uppercase tx-color-02 tx-semibold tx-spacing-1 tx-nowrap mg-b-5">{{ sale.sales_method }}</p>
                    <div class="d-flex align-items-center">
                      <div class="wd-10 ht-10 rounded-circle {{ sale.color }} mg-r-5"></div>
                      <h6 class="tx-normal tx-rubik mg-b-0 fs-cust">{{ sale.total_sales|intcomma }} <small class="tx-color-04">{{ sale.percentage|floatformat:0 }}%</small></h6>
                    </div>
                  </div><!-- col -->
                  {% endfor %}
                  
                </div><!-- row -->
              </div><!-- card-footer -->
            </div><!-- card -->
          </div>


          <div id="product-analysis" class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-t-25 mg-lg-b-25 mg-lg-t-30 mg-xl-b-30 mg-xl-t-35">
            <div>
              <h4 class="mg-b-0 tx-spacing--1">Product Analysis</h4>
            </div>
          </div>

        <!-- Distribution of sales by products -->
        <div class="col-md-7 mg-t-10">
            <div class="card">
              <div class="card-header pd-b-0 pd-t-20 bd-b-0">
                <h6 class="mg-b-0">Sales Distribution by Product</h6>
              </div><!-- card-header -->
              <div class="card-body">
                <div class="chart-seventeen"><canvas id="salesByProduct"></canvas></div>
              </div><!-- card-body -->
            </div><!-- card -->
          </div>
          
          <!-- Profit per product sold -->
          <div class="col-sm-6 col-lg-5 col-xl-5 mg-t-10">
            <div class="card">
              <div class="card-header d-flex justify-content-between">
                <h6 class="lh-5 mg-b-0">Profit per product sold</h6>
                
              </div><!-- card-header -->
              <div class="card-body pd-0 pos-relative">

                <ul class="list-group list-group-flush mg-t-4 tx-13">

                  {% for product_profit in product_profits %}
                  <li class="list-group-item d-flex align-items-center pad-13-5">
                    <div class="mg-l-5">
                      <p class="tx-medium mg-b-0">{{ product_profit.product }}</p>
                    </div>
                    <div class="mg-l-auto text-end">
                      <p class="mg-b-0 tx-rubik">{{ product_profit.profit_per_product|intcomma }} USD</p>
                    </div>
                  </li>
                {% endfor %}

                </ul>
              </div><!-- card-body -->
            </div><!-- card -->
          </div><!-- col -->

          <div id="geographical-analysis" class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-t-25 mg-lg-b-25 mg-lg-t-30 mg-xl-b-30 mg-xl-t-35">
            <div>
              <h4 class="mg-b-0 tx-spacing--1">Geographical Analysis</h4>
            </div>
          </div>

          <!-- Choropleth map of sales by regions -->
          <div class="col-md-6 col-xl-4 mg-t-10 order-md-1 order-xl-0">
            <div class="card ht-lg-100p">
              <div class="card-header d-flex align-items-center justify-content-between">
                <h6 class="mg-b-0">Sales & profitability by regions</h6>
                <div class="tx-13 d-flex align-items-center">
                  <span class="mg-r-5">Country:</span> <a href="" class="d-flex align-items-center link-03 lh-0">USA <ion-icon name="chevron-down-outline" class="mg-l-2"></ion-icon></a>
                </div>
              </div><!-- card-header -->
              <div class="card-body pd-0">
                <div class="pd-y-25 pd-x-20">
                  <div id="vmap" class="ht-200"></div>
                </div>
                <div class="table-responsive">
                  <table class="table table-borderless table-dashboard table-dashboard-one">
                    <thead>
                      <tr>
                        <th class="wd-40">Regions</th>
                        <th class="wd-25 text-right">Total Sales</th>
                        <th class="wd-35 text-right">Operating Profit</th>
                      </tr>
                    </thead>
                    <tbody>

                      {% for region_data in sales_profit_by_region %}
                      <tr>
                        <td class="tx-medium">{{ region_data.region }}</td>
                        <td class="text-right">{{ region_data.total_sales|default:"0"|intcomma }}</td>
                        <td class="text-right">${{ region_data.total_profit|default:"0"|intcomma }}</td>
                      </tr>
                    {% endfor %}

                    </tbody>
                  </table>
                </div><!-- table-responsive -->
              </div><!-- card-body -->
            </div><!-- card -->
          </div><!-- col -->

          <!-- Sales by states -->
          <div class="col-xl-8 mg-t-10">
            <div class="card">
              <div class="card-header d-flex align-items-center justify-content-between">
                <h6 class="mg-b-0">Sales by states</h6>
                
              </div><!-- card-header -->
              <div class="card-body pd-lg-25">
                <div class="row align-items-sm-end">
                  <div class="col-xl-12">
                    <div class=""><canvas id="chartBarX" height="400"></canvas></div>
                  </div>
                </div>
              </div><!-- card-body -->
            </div><!-- card -->
          </div>


          <div id="trends-over-time" class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-t-25 mg-lg-b-25 mg-lg-t-30 mg-xl-b-30 mg-xl-t-35">
            <div>
              <h4 class="mg-b-0 tx-spacing--1">Trends over time</h4>
            </div>
          </div>


          <!-- Flot crosshair for trends over time -->
          <div class="col-xl-12 mg-t-10">
            <div class="card">
              <div class="card-header d-sm-flex justify-content-between bd-b-0 pd-t-20 pd-b-0">
                <div class="mg-b-10 mg-sm-b-0">
                  <h6 class="mg-b-5">Sales and profit trends over time</h6>
                  <p class="tx-12 tx-color-03 mg-b-0">as of Jan 2020 to Dec 2021</p>
                </div>
                <ul class="list-inline tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03 mg-b-0">
                  <li class="list-inline-item mg-l-10">
                    <span class="d-inline-block wd-7 ht-7 bg-gray-800 rounded-circle mg-r-5"></span>
                    Total<span class="d-none d-md-inline"> Sales</span>
                  </li>
                  <li class="list-inline-item mg-l-10">
                    <span class="d-inline-block wd-7 ht-7 bg-primary rounded-circle mg-r-5"></span>
                    Operating<span class="d-none d-md-inline"> Profit</span>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="chart-fifteen">
                  <div id="flotCrosshair" class="ht-200 ht-sm-300"></div>
                </div>
              </div><!-- card-body -->
              <div class="card-footer pd-y-15 pd-x-20">
              </div><!-- card-footer -->
            </div><!-- card -->
          </div><!-- col -->

        </div><!-- row -->
      </div><!-- container -->
    </div>
  </div>


  {% endblock content %}